typing-extensions
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-core
pandas
yfinance
stockstats
langgraph
setuptools
requests
tqdm
rich
questionary
openai
python-dotenv
beautifulsoup4
tenacity
python-dateutil
psycopg2-binary
uvicorn
fastapi
